<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HOME PAGE</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Genre</th>
            <th>Stock</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.getTitle()}">Title</td>
            <td th:text="${book.getAuthor()}">Author</td>
            <td th:text="${book.getPublisher()}">Publisher</td>
            <td th:text="${book.getGenre()}">Genre</td>
            <td th:text="${book.getNumCopies()}">Stock</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>