<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Genre</th>
            <th>Stock</th>
            <th>Price</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.getISBN()}">Title</td>
            <td th:text="${book.getTitle()}">Title</td>
            <td th:text="${book.getAuthor()}">Author</td>
            <td th:text="${book.getPublisher()}">Publisher</td>
            <td th:text="${book.getGenre()}">Genre</td>
            <td th:text="${book.getNumCopiesInStock()}">Stock</td>
            <td th:text="${book.getPrice()}">Price</td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

